
.edit_menu {
    position: relative;

    display: none;
    align-items: center;
    list-style-type: none;
    font-size: 10px;
    background-color: white;
    z-index: 48;
}

.edit_menu_wrapper {
    display: flex;
    position: absolute;
    top: 13.5%;
    right: 10px;
    justify-content: end;
    align-items: center;
    width: 60px;
}

.edit_menu_wide {
    display: flex;
    align-items: end;
    list-style-type: none;
}

.edit_menu_item {
    margin: 10px;
    font-size: 1em;
}

.nav-link {
    cursor: pointer;
}

.edit-burger {
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    border: 0;
    background-color: transparent;
    z-index: 20;
    width: 20px;
    height: 25px;
}

.edit-burger:hover {
    cursor: pointer;
}

.edit-burger:focus {
    outline: none;
}

.edit-burger-line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(49, 49, 49, 0.78);
    border-radius: 3px;
    transition: .3s;
}

.edit-burger-line:nth-child(1) {
    top: 3px;
    transform: translateY(-7px);

}

.edit-burger-line:nth-child(3) {
    bottom: 3px;
    transform: translateY(7px);
}

.edit-burger.edit-open .edit-burger-line:nth-child(1) {
    transform: rotate(225deg);
}

.edit-burger.edit-open .edit-burger-line:nth-child(3) {
    transform: rotate(-225deg);
}

.edit-burger.edit-open .edit-burger-line:nth-child(2) {
    opacity: 0;
}


@media (max-width: 991px) {

    .edit_menu_wrapper {
        top: 17px;
    }

    .edit_menu {
        display: none;
        top: 30px;
        left: -20px;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 0;
        padding: 10px 25px;
    }

    .edit_menu.edit-open{
        display: block;
    }



    .edit_menu_item {
        margin: 7px;
        font-size: 1.8em;
    }

    .edit_menu_wide {
        display: none;
    }

    .edit-burger {
        display: flex;
    }


}

@media (min-width: 992px) {
    .edit_menu {
        display: none;
    }
}
