
.edit_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.edit_menu_wide {
    display: flex;
    align-items: center;
    list-style-type: none;
}


@media (max-width: 991px) {
    .edit_menu {
        /*display: none;*/
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        padding: 20px 0 20px 0;
    }

    .edit_menu_item {
        margin: 10px;
        font-size: 1.8em;
    }

    .wide_screen {
        display: none;
    }



}

@media (min-width: 992px) {
    .edit_menu {
        display: none;
    }
}
