*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: black;
}

a {
    all: unset;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito-Regular.ttf);
}

.mb-3 {
    margin-bottom: 30px;
}


.container {
    height: 100vh;
    width: 75%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    padding: 0;
}

.header {
    width: 100%;
    height: 55px;
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    z-index: 15;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    width: 100%;
    position: relative;
}

.logo {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 16px 0 0;
    padding: 5px 0;
    cursor: pointer;
    text-decoration-style: solid;
    white-space: nowrap;
    user-select: none;
    z-index: 20;
    color: #ff90f5;
}

.logo:hover {
    transition: 1.5s;
    color: #f5f5f5;
}

.burger {
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    border: 0;
    background-color: transparent;
    z-index: 20;
    width: 20px;
    height: 25px;
}

.burger:hover {
    cursor: pointer;
}

.burger:focus {
    outline: none;
}

.burger-line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #c9c9c9;
    border-radius: 3px;
    transition: .3s;
}

.burger-line:nth-child(1) {
    top: 3px;
    transform: translateY(-7px);

}

.burger-line:nth-child(3) {
    bottom: 3px;
    transform: translateY(7px);
}

.burger.open .burger-line:nth-child(1) {
    transform: rotate(225deg);
}

.burger.open .burger-line:nth-child(3) {
    transform: rotate(-225deg);
}

.burger.open .burger-line:nth-child(2) {
    opacity: 0;
}

.all-menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.menu {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    margin-right: 16px;
}

.menu-row {
    margin: 0;
}

.menu-item {
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    user-select: none;
}

.menu-item:hover {
    color: rgba(255, 255, 255, 0.85);
    transition: 0.3s;
}

.active-link {
    color: #0D6EFD;
}

.search {
    width: 30%;
    display: flex;
    margin-right: 27px;
}

.search-form {
    display: flex;
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.input-form {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.input-form:focus {
    display: flex;
    align-items: center;
    outline: none;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.51);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.search-button img {
    width: 18px;
}


.login {
    display: flex;
    align-items: center;
}

.login button {
    display: inline-block;
    padding: 6px 9px;
    color: rgba(255, 255, 255, 0.55);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8;
}

.btn {
    display: inline-block;
    padding: 6px 9px;
    background-color: #444;
    color: #ff90f5;

    border: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8;
}

.btn-edit {
    margin: 20px 0;
    padding: 9px 9px;
    font-size: 1rem;
    line-height: 1;
}

.btn-edit:hover {
    background-color: #ff90f5;
    color: #262626;
    transition: 0.3s;
}

.login button:hover {
    border: 1px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.85);
    transition: 0.3s;
}

.login button:focus {
    border: 1px solid rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.75);
    transition: 0.3s;
}

.main {
    width: 100%;
    padding: 50px 100px 0 100px;
    flex-grow: 1;
}

.main-container {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.message-box {
    color: rgba(255, 255, 255, 0.71);
    padding: 40px;
    margin: 40px;
    border: 1px solid rgba(255, 255, 255, 0.51);
    border-radius: 6px;
    text-align: center;
}


.accordion {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
}

.base {

}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcdcdc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    font-size: 15px;
    position: relative;
    transition: 0.4s;
}

.accordion-header .label {
    width: 80%;
    user-select: none;
}

/*.accordion-header:after {*/
/*    content: '\002B';*/
/*    color: #3e3e3e;*/
/*    font-weight: bold;*/
/*    float: right;*/
/*    margin-left: 15px;*/
/*    font-size: 1.2rem;*/
/*}*/

/*.open-minus:after {*/
/*    content: "\2212";*/
/*}*/

.accordion-header:hover {
    background-color: rgb(220, 220, 220);
    color: #1c1c1c;
}


.accordion-body {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    width: 100%;
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.new-form {
    margin: 30px 0;
    width: 100%;
    /*resize: vertical;*/
    /*overflow: auto;*/
    /*min-width: 150px;*/
    /*min-height: 350px;*/
}

.new-form-color {
    background-color: #6d6d6d;
    color: #eee;
    user-select: none;
}

.new-form-color:hover {
    background-color: #6d6d6d;
    color: #eee;
}

.new-form form {

}

.form-control {
    display: block;
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    resize: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;


    background-color: #444;
    color: #eee;


    /*color: #212529;*/
    /*background-color: #fff;*/


    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em;
}

.form-control::-moz-placeholder {
    color: #98ACABFF;
    opacity: 1;
}

.form-control::placeholder {
    color: #98ACABFF;
    opacity: 1;
}

.form-edit {
    width: 100%;
    padding: 30px;
    margin: 20px;
    background-color: #282828;
    border-radius: 6px;
}

label {
    user-select: none;
}

.form-edit label {
    color: #c2c2c2;
}

.drop-position {
    position: relative;
}

.drop-position:hover .drop-item {
    display: flex;
    flex-direction: column;
}

.drop-wrapper {
    background-color: rgb(33, 37, 41);
}

.drop-item {
    padding: 28px 0 0 0;
    /*background-color: rgb(33, 37, 41);*/
    flex-direction: column;
    position: absolute;
    top: 10px;
    display: none;
    /*max-height: 100px;*/
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 400%;
    border-radius: 0 0 6px 6px;
}


.drop-item .menu-item {
    background-color: rgb(33, 37, 41);
}


.show {
    display: flex;
    flex-direction: column;
    /*min-height: 150px;*/
}

.drop-menu > a:hover .drop-item {
    display: flex;
    flex-direction: column;
}

.drop-menu-show {

}

.note {
    color: #dcdcdc;
}

.note pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, с 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
}

.pagination {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    z-index: 1;

}

.pagination .disabled {
    cursor: auto;
    border: none;
    color: transparent;
}

.pagination .active {
    color: white;
    background-color: #0D6EFD;
    cursor: auto;
    z-index: 1;
}

.pagination li {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    cursor: pointer;
    margin: 5px 10px;
    border: 1px solid #0D6EFD;
    border-radius: 3px;
    padding: 3px 10px;
    color: #ff90f5;
    user-select: none;
    z-index: 1;
}

.footer {
    width: 100%;
    height: 35px;
    background-color: rgb(10, 10, 12);
    color: rgba(255, 255, 255, 0.4);
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    user-select: none;
}


.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.p-3 {
    padding: 1rem !important;
}


@media (max-width: 991px) {


    .all-menu {
        position: absolute;
        top: 42px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        background-color: rgb(33, 37, 41);
        padding: 30px 12px;
        z-index: -1;
        transition: all 0s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }

    .active {
        z-index: 15;
        visibility: visible;
        opacity: 1;
        transition: 0.4s ease-in-out;
    }

    .menu {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        font-size: 22px;
        margin-left: 20px;
    }

    .menu-row {
        margin: 3px 0;
    }

    .menu-item {
        padding: 3px;
    }

    .login {
        margin-top: 10px;
        margin-left: 23px;
    }

    .search {
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
        width: 50%;
    }

    .burger {
        display: flex;
    }

    .main {
        width: 100%;
        padding: 30px 30px 0 30px;
    }

    .drop-item {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 23px;
        padding: 0 5px 0 40px;
        width: 100%;
        border-radius: 0;
        position: relative;
        top: 0;
        z-index: 2;
    }
}

@media (max-width: 768px) {

    .container {
        width: 85%;
    }

    .main {
        width: 100%;
        padding: 10px 20px 0 20px;
    }

    .menu-row {
        margin: 4px 0;
    }

    .pagination li {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 5px 7px;
        padding: 3px 8px;
    }

    .drop-item {
        position: relative;
        top: 0;
        z-index: 1;
    }


}

@media (max-width: 576px) {

    .container {
        width: 100%;
    }

    .header {
        border-radius: 0;
    }

    .header-container {
        flex-wrap: wrap;
    }

    .footer {
        border-radius: 0;
    }

    .burger {
        margin-right: 15px;
    }

    .main {
        width: 100%;
        padding: 5px 10px;
    }

    .menu-row {
        margin: 17px 0;
    }

    .pagination li {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin: 5px 5px;
        padding: 2px 7px;
    }

    .drop-item {
        position: relative;
        top: 0;
        z-index: 1;
    }
}
